language: java

notifications:
  email: false

#script: mvn clean compile
script: "mvn cobertura:cobertura"

after_success:
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: heroku
  api_key: 68eedc68-05fb-406e-aff9-b1a6aee761b3
  app: bmstu-rsoi-dayannn
